* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    padding: 5px 15px;
}

#nav-menu {
    background-color: #333;
    overflow: hidden;
}

#nav-menu a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}
  
#nav-menu a:hover {
    background-color: rgb(221, 226, 69);
    color: black;
}

#nav-menu div{
    display: inline;
}
#nav-menu .right-menu{
    float: right;
}

@media screen and (max-width: 600px) {
    #nav-menu a, #nav-menu .right-menu {
        display: block;
        float: none;
    }
}


