#main-holder {
    display: grid;
    justify-items: center;
    align-items: center;
}

#login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #b3b3b3;
    border-radius: 5px;
    margin: 20px 0;
    padding: 25px;
}

.login-form-field{
    padding: 10px;
}

.login-form-field::placeholder {
    color: #3a3a3a;
}
  
#login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}

#login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 6px;
}
  
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
}
  
#error-msg-second-line {
    display: block;
}

.login-form-hint{
    margin: 10px 0;
}