{{template "header" .}}

<div class="container">

    <h1>Plan creator</h1>

    <form action="/goals/create" method="post">
  
      <label for="goal_name">Goal Name</label>
      <input type="text" id="goal_name" name="goal_name" placeholder="Goal name.." required>
  
      <label for="reason">Reason</label>
      <input type="text" id="lname" name="reason" placeholder="Your reason.." required>
  
      <label for="importance">Country</label>
      <select id="importance" name="importance" required>
        <option value="important">Impotant</option>
        <option value="not-important">Not Impotant</option>
      </select>
  
      <label for="description">Description</label>
      <textarea id="description" name="description" placeholder="Write something.." style="height:200px" required></textarea>
  
      <input type="submit" value="Add goal">
  
    </form>
  </div> 

{{template "footer" .}}