{{define "header"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>

    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/goal-creation-page.css">
    <link rel="stylesheet" href="css/loginPage.css">
    
</head>
<body>
<header>
    {{template "menu.html" .}}
</header>
<main>
{{end}}