{{template "header" .}}

<main id="main-holder">
    <h1 id="login-header">Log In Page</h1>
    
    {{if .loginError}}
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Invalid username <span id="error-msg-second-line">and/or password</span></p>
    </div>
    {{end}}
    
    <form action="/u/login" method="post" id="login-form">
      <input type="text" name="login" id="login" class="login-form-field" placeholder="login" required>
      <input type="password" id="password" name="password" class="login-form-field" placeholder="password" required>
      <input type="submit" value="Log In" id="login-form-submit">
    </form>

    <i class="login-form-hint">New here? <a href="/u/signup">Sign Up</a></i>
  
</main>

{{template "footer" .}}