<div id="nav-menu">
    
    <div>
        <a href="/">Home</a>
        {{if .is_logged_in}}
        <a href="/goals">Goals</a>
        {{end}}
    </div>
    <div class="right-menu">
        {{if .is_logged_in}}
        <a href="/u/">Profile</a>
        <a href="/u/logout">Log Out</a>
        {{else}}
        <a href="/u/login">Log In</a>
        <a href="/u/signup">Sign Up</a>
        {{end}}
    </div>
    
</div>