{{template "header" .}}

<main id="main-holder">
    <h1 id="login-header">Sign Up Page</h1>

    {{if .userAlreadyExist}}
    <div id="login-error-msg-holder">
      <p id="login-error-msg">Username is already taken</p>
    </div>
    {{end}}
    
    <form action="/u/signup" method="post" id="login-form">
      <input type="text" name="name" id="name" class="login-form-field" placeholder="name" minlength="2" maxlength="25" required>
      <input type="text" name="login" id="login" class="login-form-field" placeholder="login" minlength="3" maxlength="15" required>
      <input type="password" id="password" name="password" class="login-form-field" placeholder="password" minlength="3" maxlength="30" required>
      <input type="submit" value="Sign Up" id="login-form-submit">
    </form>

    <i class="login-form-hint">Already have an account? <a href="/u/login">Log In</a></i>
</main>

{{template "footer" .}}